<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>welcome</h2>

    <div style="margin-top: 20px; border: 2px solid greenyellow;" >
        <label for="register"> create new account</label>
    </div>
    <div>
        <a href="/register" id = "register"> Register Here </a>
    </div>

    <div style="margin-top: 20px; border: 2px solid greenyellow;">
        <label for="login"> already have an account</label>
    </div>
    <div>
        <a href="/login" id = "login"> login </a>
    </div>
    
</body>
</html>